
<!--Table-->
<table class="table">

    <!--Table head-->
    <thead class="blue-grey lighten-4">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>nameOfTheCostCenter</th>
            <th>Edit</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr *ngFor="let z of list let i =index">
           
            <td>{{i+1}}</td>
            <td> {{z.id}}</td>
          <td> {{z.nameOfTheCostCenter}}</td>
          <td><span><i (click)="update(z.id)" data-toggle="modal" data-target="#myModal" data-backdrop="static" class="fa fa-edit" style="font-size:16px;color:green">edit</i></span></td>
        </tr>
       
    </tbody>
    <!--Table body-->

</table>
<div class="container">
     
        <!-- Trigger the modal with a button -->
      
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                  <input type="text" class="form-control" [(ngModel)]="nameOfTheCostCenter" name="name">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Save(z.id)">Save </button>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>


<a routerLink="chil-service">inner-service</a>
<router-outlet></router-outlet>

